[submodule "firecrawl/upstream"]
	path = firecrawl/upstream
	url = git@github.com:mendableai/firecrawl.git
[submodule "ivo-toby-mcp-openapi-server/upstream"]
	path = ivo-toby-mcp-openapi-server/upstream
	url = git@github.com:ivo-toby/mcp-openapi-server.git
[submodule "gpt-researcher/upstream"]
	path = gpt-researcher/upstream
	url = git@github.com:assafelovic/gpt-researcher.git
