services:
  stirling-pdf:
    image: stirlingtools/stirling-pdf:latest-fat
    container_name: stirling-pdf
    restart: unless-stopped
    # ports:
    #   - '8080:8080'
    volumes:
      - /usr/share/tessdata:/usr/share/tessdata
      - ./extraConfigs:/configs
      - ./logs:/logs/
      - ./customFiles:/customFiles
      - ./pipeline:/pipeline
    environment:
      DOCKER_ENABLE_SECURITY: false
      INSTALL_BOOK_AND_ADVANCED_HTML_OPS: false
      LANGS: "en_GB,en_US,es_ES,it_IT"
    extends:
      file: ../compose-snippets/logging-limits.yaml
      service: logging

    labels:
      - homepage.group=Apps
      - homepage.name=Stirling
      - homepage.href=//stirling.home.lab
      - homepage.icon=sh-stirling-pdf
      - homepage.description=PDF tools
      - homepage.weight=80
      - diun.enable=true

include:
  - ../compose-snippets/network-for-nginx-proxy.yaml
